<!doctype html>
<html>
  <head>
    <title>Admin</title>
    <link href="assets/css/style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="#pages"><i class="icon-pencil"></i> Pages</a>
          </li>
          <li>
            <a href="#template"><i class="icon-th-list"></i> Template</a>
          </li>
          <li>
            <a href="#style"><i class="icon-file"></i> Style</a>
          </li>
          <li>
            <a href="#blocks"><i class="icon-th-large"></i> Blocks</a>
          </li>
          <li>
            <a href="#files"><i class="icon-folder-open"></i> Files</a>
          </li>
          <li>
            <a href="../" target="_blank"><i class="icon-home"></i> Visit Website</a>
          </li>
          <li>
            <a href="admin.php?q=signout"><i class="icon-off"></i> Sign Out</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>

    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
  </body>
</html>