<p class="login-logo"><img src="includes/admin_logo.png" alt="McAlinden" width="200"></p>
<form class="well" action="admin.php" method="post">
  <label>Admin Username</label>
  <input type="text" name="user" placeholder="Username">
  <span class="help-block">Please type your admin username.</span>
  <label>Admin Password</label>
  <input type="password" name="pass" placeholder="Password"> 
  <span class="help-block">Please type your admin password.</span>
  <input type="submit" class="btn btn-primary" value="Sign In">
</form>